# Python
__pycache__/
*.py[cod]

# IDE
.idea/
.vscode/

# Model weights
*.pth

# Audio files
*.wav
*.mp3
*.flac

# Dataset
data/

# Notebook outputs
notebooks/results/
notebooks/samples/

# Jupyter checkpoints
.ipynb_checkpoints/