# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# ==========================
# IDE
# ==========================
.idea/
.vscode/

# ==========================
# Dataset
# ==========================
data/

# ==========================
# Trained Models
# ==========================
models/
*.pth

# ==========================
# Audio Files
# ==========================
*.wav
*.mp3
*.flac

# Keep demo audio files
!demo/
!demo/*.wav
!demo/*.mp3
!demo/*.flac

# ==========================
# Notebook Outputs
# ==========================
notebooks/results/
notebooks/samples/